
@layer components {
    .input-zenda {
        @apply w-full p-4 bg-surface-container-low rounded-2xl outline-none focus:ring-2 focus:ring-primary font-body text-primary transition-all;
    }

    .btn-primary {
        @apply w-full py-4 bg-primary text-white font-bold rounded-2xl shadow-xl shadow-primary/20 hover:scale-[1.01] active:scale-95 transition-all flex justify-center items-center gap-2 disabled:opacity-50;
    }
}
@layer base {
    body {
        @apply bg-surface-container-lowest text-on-surface font-body antialiased;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-headline;
    }
}
@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #d1d5db; /* border-outline-variant */
        border-radius: 10px;
    }
}